<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Enrique</title>
    <!-- //use the css file at public/css/style.css -->
    <link rel="stylesheet" href="../css/styles.css">
  </head>
  <body>

    <div class="header">
<h1> Welcome fans, to the world of Enrique Iglesias!!</h1>
</div>
<div class="image">
  <img src="/imgs/homepage2.gif">
  <br>
</div>
<div class="photos">
  <!-- whatever we called the route in app.js is what we put in the href: app.get('/about',(request,response,next) => {-->
  <a href="/photogallery"> Click here to see Photos of Enrique!! </a>
  <br>
</div>
<div class="about">
  <br>
  <a href="/about"> Click here to learn more about Enrique!!</a>
</div>
<!-- //display image -->




<!-- //use the JS at public/js/front.js -->
<script src="/js/front.js"></script>
<br>

  </body>
</html>
