<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello,Express!</title>
    <!-- //use the css file at public/css/style.css -->
    <link rel="stylesheet" href="../css/styles.css">

  </head>
  <body
  <div class="top">
<h1> Photo Gallery </h1>
<p> Never enough pictures of Enrique!</p>
</div >

<div class="row1">
  <div>
<img id="row1a" src="/imgs/image1.gif">
</div>
<div>
<img id="row1b"src="/imgs/image2.gif">
</div>
<div>
<img id="row1c"src="/imgs/image3.gif">
</div>
</div>
<div class="row2">
<img id="row2a"src="/imgs/image4.gif">
<img id="row2b"src="/imgs/image5.gif">
<img id="row2c"src="/imgs/image6.gif">
</div>
<div class="bottom">
  <a href="/"> Back to Home </a>
</div>
<!-- //app.get('/',(request,response, next)=> -->

<!-- //use the JS at public/js/front.js -->
<script src="/js/front.js"></script>


  </body>
</html>
