
.header {
  border: 1px solid black;
    background-color: #921836;
}
h1{
  text-align: center;
  font-size: 59px;
}



.image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.image img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
.photos{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.photos a{
  text-align: center;
  color: blue;
  font-size: 24px;
}
.about{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.about a{
  text-align: center;
  color: blue;
  font-size: 24px;
}
.info h1{
  text-align: center;
}
.infoimage img{
  margin-left: 35%;
      margin-top: 12px;
}
a{
  text-align: center;
}
.footer{
  margin-left: 47%;
  margin-top: 10px;
}
.top p{
  text-align: center;
  font-size:24px;

}
.row1{
  margin-left:85px;
  width: 100%;
  height: 282px;
  border: 1px solid black;

}
.row2{
  margin-left:85px;
  width: 100%;
  height: 282px;
  border: 1px solid black;

}
/*.bottom{
  margin-left: 47%;
  margin-top: 10px;
}*/
#row1a{
  display:inline;
  width:30%;
  float:left;

}
#row1b{
  display:inline;
  width:30%;
  float:left;
  height: 285px;
}
#row1c{
  display:inline;
  width:30%;
  float:left;
  height: 285px;
}
#row2a{
  display:inline;
  width:30%;
  float:left;
  height: 285px;
}
#row2b{
  display:inline;
  width:30%;
  float:left;
  height: 285px;
}
#row2c{
  display:inline;
  width:30%;
  float:left;
  height: 285px;
}
.bottom {
  text-align: center;
  color: blue;
  font-size: 24px;
  clear:both;
  overflow:auto;
}
